@use "../../index.scss" as *;
:root {
    --info-columns: 3;
    --charts-columns: 2;
}
.sales {
    article {
        padding: 1rem;
        border-radius: 1rem;
        background-color: $white-color;
        .head {
            h3 {
                color: $head-color;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
    .information {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;
        article {
            grid-column: span 4;
            .head {
                color: $text-color;
                display: flex;
                justify-content: space-between;
                margin-bottom: .5rem;
            }
            h6 {
                font-weight: bold;
                font-size: 24px;
            }
            p {
                margin-bottom: 0;
                color: $text-color;
            }
        }
    }
    .charts {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        .head {
            margin-bottom: 1rem;
            h3 {
                color: $head-color;
                font-weight: bold;
                font-size: 24px;
            }
        }
        article {
            &:first-of-type {
                grid-column: span 5;
            }
            &:last-of-type {
                grid-column: span 7;
            }
        }
    }
    .country {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;
        article {
            grid-column: span 6;
        }
        table {
            width: 100%;
            height: calc(100% - 2.5rem);
            tr:not(tr:last-of-type),
            thead {
                border-bottom: 1px solid #ddd;
            }
            td {
                color: $text-color;
                padding: 10px;
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
    .selling-products {
        article {
            table {
                width: 100%;
                color: $text-color;
                tr td:first-of-type {
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                }
                td {
                    padding: 10px;
                }
                tr:not(tr:last-of-type),thead {
                    border-bottom: 1px solid #eee;
                }
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
                span {
                    color: $green-color;
                    font-weight: bold;
                }
                i {
                    font-weight: 800;
                    font-size: 20px;
                    &.fa-angle-up {
                        color: #f00;
                    }
                    &.fa-angle-down {
                        color: $green-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .sales section article {
        grid-column: span 12 !important;
    }
}

@media (max-width: 545px) {
    .sales .country,
    .sales .selling-products {
        overflow: hidden;
        article {
            overflow-x: auto;
            table {
                width: 200%;
            }
        }
    }
}